div#app-component{
  padding: 0 15px 0;
  nav{
    a{
      padding: 10px;
      display: inline-block;
      width: 75px;
      text-align: center;

      &.active{
        background-color: #007bff;
        color: #fff;
        border-radius: 4px;
      }
    }
  }
}

