<div id="app-component" class="container">
  <h1><img src="https://angular.io/assets/images/logos/angular/angular.png" width="50" height="50"> Angular App</h1>
  <hr>
  <p>This is the Angular section page. This section is displayed when url starts with "/angular" prefix.
  </p>
  <nav>
    <a routerLink="/angular" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
      true}">List</a>
    <a routerLink="/angular/detail" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
      true}">Detail</a>
  </nav>
  <router-outlet></router-outlet>
</div>
